<h1>Shopping list</h1>

<p>
  <strong>Dont forget the bacon...</strong>
</p>
<form action="/create" method="post">
  <input type="text" name="name" placeholder="Item Name">
  <input type="text" name="size" placeholder="Size">
  <input type="text" name="quantity" placeholder="How many?">
  <input type="submit">Add Item</input>
</form>
